* {
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

html, body {
    margin: 0;
}

.full-screen-container {
    background-image: url("images/background.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {

    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    min-width: 200px;
    width: 50%;
    max-width: 400px;

}

.login-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}

.input-group  input{
    font-size: 1.5em;
    padding: .1em .2em;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    font-weight: lighter;
    color: white;
}



.input-group input:focus {
    border: 1px solid hsl(201, 100%, 50%);
}


.login-btn {
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.login-btn:hover{
    background-color: hsla(201, 100%, 50%, 0.3);
}

.login-btn:focus{
    background-color: hsla(201, 100%, 50%, 0.5);
}